<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <clear />
        <add key="github" value="https://nuget.pkg.github.com/chrdek/index.json" />
    </packageSources>
    <packageSourceCredentials>
        <github>
            <add key="chrdek" value="USERNAME" />
            <add key="ClearTextPassword" value="ba17ffb1ac9c930b2a4b7ed0d1ca00f2c1e2ef88" />
        </github>
    </packageSourceCredentials>
</configuration>